<html>
    <head>
        <title><%= title %></title>
        <!-- style file -->
        <link rel="stylesheet" href="/css/home.css">
        <!-- font awesome script for using icons -->
        <script src="https://kit.fontawesome.com/75cf4e84e0.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <!-- heading -->
        <h1 id="heading" class="center"><i class="fas fa-syringe"></i> COVID Tracker API</h1>

        <!-- headers -->
        <p class="center" style="font-size: 2rem;">Welcome to my api created for tracking COVID patients</p>
        <p class="center" style="font-size: 1.5rem;">Let me walk you through available routes and responses that can be used.</p>

        <!-- main instructions list -->
        <ol id="main_list">
            <!-- Step 1 -->
            <li>
                Start the api and check if it is working by calling
                <ul class="inner_list">
                    <li class="link"><b>https://covid-track-api.herokuapp.com/api/v1/home</b></li>
                    <li>
                        <ul class="inner_list">
                            <li>You will recieve a <i><b>Welcome</b></i> message as response.</li>
                        </ul>
                    </li>
                </ul>
            </li>

            <!-- Step 2 -->
            <li>
                You can register a doctor using
                <ul class="inner_list">
                    <li class="link"><b>https://covid-track-api.herokuapp.com/api/v1/doctor/register</b></li>
                    <li>
                        <ul class="inner_list">
                            <li>You have to enter <b>name</b> , <b>username</b> , <b>password</b> and <b>confirm_password</b> fields.</li>
                            <li>PS: whether registering a new doctor or an existing one you will receive the response accordingly.</li>
                        </ul>
                    </li>
                </ul>
            </li>

            <!-- Step 3 -->
            <li>
                After registering a doctor, you can register a patient using
                <ul class="inner_list">
                    <li class="link"><b>https://covid-track-api.herokuapp.com/api/v1/patients/register</b></li>
                    <li>
                        <ul class="inner_list">
                            <li>You have to enter <b>name</b> , <b>phoneNumber</b> , <b>confirm_phoneNumber</b> and <b>status <i>(initial status)</i></b> fields.</li>
                            <li>PS: whether registering a new patient or an existing one you will receive the response accordingly.</li>
                        </ul>
                    </li>
                </ul>
            </li>

            <!-- Step 4 -->
            <li>
                As soon as you are done with registering patients, you can now start creating reports for concerned patient.
                <br>
                Here you will be authorizing a logged in doctor only for creating report.
                <ul class="inner_list">
                   <li>
                       <ul>
                           <li>Firstly you will login the specific doctor and generate the token for authorization as
                           <br>
                           <span class="link"><b>https://covid-track-api.herokuapp.com/api/v1/doctor/login</b></span></li>
                       </ul>
                   </li>
                   
                   <li>
                    <ul>
                        <li>Then you will create a report for a patient using his/her id by
                        <br>
                        <span class="link"><b>https://covid-track-api.herokuapp.com/api/v1/doctor/patients/:id/create_report</b></span>
                        <br>
                        You have to enter <b>status</b> and <b>date</b> fields along with <b>token</b> in header for authentication generated in last step.
                    </li>
                    </ul>
                </li>
                </ul>
            </li>

            <!-- Step 5 -->
            <li>
                If you have created report for a patient, you can look all his/her reports using
                <ul class="inner_list">
                    <li class="link"><b>https://covid-track-api.herokuapp.com/api/v1/home/patients/:id/all_reports</b></li>
                    <li>
                        <ul class="inner_list">
                            <li>You will get the desired response with all the reports of the user with the provided id when and who created with what status.</li>
                        </ul>
                    </li>
                </ul>
            </li>

            <!-- Step 6 -->
            <li>
                At any moment if we need to get all reports of all patients with a specific status filtered we can also do so using
                <ul class="inner_list">
                    <li class="link"><b>https://covid-track-api.herokuapp.com/api/v1/home/reports/:status</b></li>
                    <li>
                        <ul class="inner_list">
                            <li>You will get all reports of all patients which the specified status at present with the hospital.</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ol>
    </body>
</html>
